certifi==2021.10.8
chardet==4.0.0
click==7.1.2
Flask==2.0.2
idna==2.9
itsdangerous==1.1.0
jinja2>=3.0.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.27
mysql-connector==2.2.9
json5==0.9.6
protobuf==3.19.1
requests==2.26.0
six==1.16.0
urllib3>=1.26.7
Werkzeug==2.0.2
anaconda-client==1.7.2
anaconda-navigator==2.1.1
Django==4.0
virtualenv==20.12.1
